.Rproj.user
.Rhistory
.RData
.Ruserdata

0 recap.doc
0 recap.pdf
0 time management, feedback.xlsx
2013_Bishkek/
2015_Uni/
2016_Almaty/
2016_Uni/
cache/
books/
data/books.zip
data/lsc_functions/
data/PrecBrandenburg/
DWDdata/
externalfig/
fig/
PDF_backups, oldstuff/
R_In_Hydro/
ToDo Topics and Files/

Advertisement_Rcourse_Berry.doc
Rcourse_Topics.txt
RcourseBerry-concordance.tex
RcourseBerry-concordance.tex
RcourseBerry.log
RcourseBerry.nav
RcourseBerry.snm
RcourseBerry.synctex.gz
RcourseBerry.tex
RcourseBerry.toc
RcourseBerry.vrb
Test-concordance.tex
Test.log
Test.nav
Test.pdf
Test.Rnw
Test.snm
Test.synctex.gz
Test.tex
Test.toc
Test.vrb
Topics_Outline.r
RcourseBerry_Mathias.tex
